h1{
    
}

body{
    width: 500px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fc0
}
img{
    float: left;
    width: 30%;
    height: 30%;
    margin-right: 30px;
}